<h1>Editing Evaluation</h1>
<div class="container">

  <%= render 'form', evaluation: @evaluation %>

  <div class="btns">
    <%= link_to 'Show', @evaluation, :type => "button", :class => "button btn-index" %>
    <%= link_to 'Back', evaluations_path, :type => "button", :class => "button btn-index" %>
    <%= link_to 'Main Menu', welcome_index_path, :type => "button", :class => "button btn-index" %>
  </div>
</div>