<h1>Editing Note</h1>
<div class="container">

  <%= render 'form', note: @note %>

  <div class="btns">
    <%= link_to 'Back', notes_path, :type => "button", :class => "button btn-index" %>
    <%= link_to 'Main Menu', welcome_index_path, :type => "button", :class => "button btn-index" %>
  </div>
</div>