// Notes

/* Notes */

textarea {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

select {
  margin: auto;
  display: inline-table;
}

.btn-index {
  width: 130px;
  padding: 0;
  text-align: center;
}

.notesBtns {
  display: block;
  text-align: center;
}
